.App {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  /* min-height: 100vh; */
  
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
